<div class="card col-m3">
  <img
    src="https://acdn.mitiendanube.com/stores/001/168/383/products/21147002b1-3dda0b0732ff2435c616938544059234-1024-1024.webp"
  />
  <div class="card-body">
    <h5 class="card-title">Remera Est. 1992</h5>
    <p class="card-text">22000</p>
    <a href="#" class="btn btn-primary">Ver producto</a>
  </div>
</div>
<div class="card">
  <img
    src="https://acdn.mitiendanube.com/stores/001/168/383/products/21137507b-31-9019f3e351d02196fb16721517926546-1024-1024.webp"
  />
  <div class="card-body">
    <h5 class="card-title">Musculosa Era 92</h5>
    <p class="card-text">22000</p>
    <a href="#" class="btn btn-primary">Ver producto</a>
  </div>
</div>
<div class="card">
  <img
    src="https://acdn.mitiendanube.com/stores/001/168/383/products/21147701-j-21-bff923ec5022a1a84b16940419609787-1024-1024.webp"
  />
  <div class="card-body">
    <h5 class="card-title">Bermuda Big Chino</h5>
    <p class="card-text">46000</p>
    <a href="#" class="btn btn-primary">Ver producto</a>
  </div>
</div>
<div class="card">
  <img
    src="https://acdn.mitiendanube.com/stores/001/168/383/products/mewalhow61-69a06e69804181da0d16940439504765-640-0.jpg"
  />
  <div class="card-body">
    <h5 class="card-title">Bermuda Howland</h5>
    <p class="card-text">46000</p>
    <a href="#" class="btn btn-primary">Ver producto</a>
  </div>
</div>
<div class="card">
  <img
    src="https://acdn.mitiendanube.com/stores/001/168/383/products/alyxw00174-1-11-b45f0cd570c06123e516457489924958-640-0.jpg"
  />
  <div class="card-body">
    <h5 class="card-title">Skate Completo Section 8.25"</h5>
    <p class="card-text">140000</p>
    <a href="#" class="btn btn-primary">Ver producto</a>
  </div>
</div>
<div class="card">
  <img
    src="https://acdn.mitiendanube.com/stores/001/168/383/products/elyha00183-m-3-4ca3215970976622e417047361464818-640-0.jpg"
  />
  <div class="card-body">
    <h5 class="card-title">Gorra Hill Truckers</h5>
    <p class="card-text">21600</p>
    <a href="#" class="btn btn-primary">Ver producto</a>
  </div>
</div>