<div class="d-flex flex-wrap justify-content-evenly">
{{#each products}}
  <div class="card" style="width: 18rem;">
    <img src="{{this.photo}}" class="card-img-top">
    <div class="card-body">
    <h5 class="card-title">{{this.title}}</h5>
    <p class="card-text">{{this.price}}</p>
    <input id="{{this.product_id}}" class="addToCart btn btn-danger fs-5 m-1 me-3" type="button" value="Añadir al carrito">
  </div>
</div>
{{/each}}
