@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=Noto+Sans:wght@300&family=Nunito+Sans:opsz,wght@6..12,300&family=Playpen+Sans:wght@200&family=Quicksand&family=Raleway&family=Ubuntu:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  scroll-behavior: smooth;
}

nav {
  background-color: grey;
  color: white;
  font-size: 20px;
  padding: 6px;
}

.fixP {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  padding: 10px 10px;
  margin: 10px;
  margin-bottom: 15px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.card {
  width: 18rem;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 0px;
  overflow: hidden;
}

.card img {
  max-width: 100%;
  height: auto;
}

.card-body {
  padding: 20px;
}

.btn-primary {
  display: block;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
}